In [1]:
import pandas as pd

apt_price = pd.read_csv(
    'apt_price_2022.csv',
    encoding='cp949',
    skiprows=15,
    thousands=','
)
apt_price

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16943,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16944,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구"
16945,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구
16946,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구

In [2]:
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       16947 non-null  object
 1   번지        16943 non-null  object
 2   본번        16946 non-null  float64
 3   부번        16946 non-null  float64
 4   단지명       16947 non-null  object
 5   전용면적(㎡)   16947 non-null  float64
 6   계약년월      16947 non-null  int64
 7   계약일       16947 non-null  int64
 8   거래금액(만원)  16947 non-null  int64
 9   층         16947 non-null  int64
 10  건축년도      16945 non-null  float64
 11  도로명       16947 non-null  object
 12  해제사유발생일   665 non-null    float64
 13  거래유형      16947 non-null  object
 14  중개사소재지    16947 non-null  object
dtypes: float64(5), int64(4), object(6)
memory usage: 1.9+ MB

In [3]:
apt_price[apt_price['해제사유발생일'].notnull()]['거래유형'].value_counts()

중개거래    403
-       206
직거래      56
Name: 거래유형, dtype: int64

In [4]:
apt_price.shape

(16947, 15)

In [5]:
pd.read_csv?

In [6]:
%timeit apt_price['시군구'].str.split(' ')

7.3 ms ± 69.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
def a():
    for i in apt_price['시군구']:
        i.split(' ')

In [8]:
%timeit a()

5.54 ms ± 133 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
# apt_price['시군구'] 를 시, 구, 동으로 분할
apt_price['구'] = apt_price['시군구'].str.split(' ').str[1]
apt_price['동'] = apt_price['시군구'].str.split(' ').str[2]
# 전용면적을 평 변환
apt_price['평'] = round(apt_price['전용면적(㎡)'] / 3.03,1)
# 거래금액 단위를 억원으로 변환
apt_price['거래금액_억원'] = apt_price['거래금액(만원)'] / 10000
# 계약년월 -> 계약년, 계약월로 분리
apt_price['계약년'] = apt_price['계약년월'] // 100
apt_price['계약월'] = apt_price['계약년월'] % 100
apt_price.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,...,언주로 3,NaN,-,-,강남구,개포동,26.4,22.0,2021,9
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.5,2021,12
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,...,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.6,2022,5

In [10]:
# 평정보를 이용하여 평형정보 생성
# 10평이하, 10평대, 20평대, 30평대, 40평대, 40평이상
apt_price['평형']=pd.cut(
    apt_price['평'],
    bins=[0,10,20,30,40,50,1000],
    labels='10평이하,10평대,20평대,30평대,40평대,40평이상'.split(',')
)
apt_price.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,...,NaN,-,-,강남구,개포동,26.4,22.0,2021,9,20평대
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,...,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.5,2021,12,20평대
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,...,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,...,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,...,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.6,2022,5,20평대

In [11]:
# 요일 추출
pd.to_datetime(
    apt_price['계약년월'].astype(str)+apt_price['계약일'].astype(str),
    format='%Y%m%d'
).dt.dayofweek

0        3
1        5
2        1
3        3
4        4
        ..
16942    2
16943    2
16944    3
16945    5
16946    5
Length: 16947, dtype: int64

In [12]:
# 숫자인 요일값을 문자열로 치환
DOW = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}

apt_price['요일']=pd.to_datetime(
    apt_price['계약년월'].astype(str)+apt_price['계약일'].astype(str),
    format='%Y%m%d'
).dt.dayofweek
apt_price
apt_price.replace({'요일':DOW})

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형,요일
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,...,-,-,강남구,개포동,26.4,22.00,2021,9,20평대,목
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,...,중개거래,서울 강남구,강남구,개포동,26.4,21.50,2021,12,20평대,토
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,...,중개거래,서울 강남구,강남구,개포동,26.4,22.00,2022,4,20평대,화
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,...,중개거래,서울 강남구,강남구,개포동,26.4,22.00,2022,4,20평대,목
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,...,중개거래,서울 강남구,강남구,개포동,26.4,21.60,2022,5,20평대,금
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,...,중개거래,서울 중랑구,중랑구,중화동,19.7,7.40,2022,7,10평대,수
16943,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,...,중개거래,서울 중랑구,중랑구,중화동,27.7,9.15,2022,7,20평대,수
16944,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,...,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,28.0,5.00,2021,11,20평대,목
16945,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,...,중개거래,서울 중랑구,중랑구,중화동,28.0,4.99,2022,4,20평대,토
16946,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,...,중개거래,서울 중랑구,중랑구,중화동,25.2,5.30,2022,4,20평대,토

In [13]:
def pp(x):
    DOW = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}
    return DOW[x]
apt_price['요일'].apply(pp)

0        목
1        토
2        화
3        목
4        금
        ..
16942    수
16943    수
16944    목
16945    토
16946    토
Name: 요일, Length: 16947, dtype: object

In [14]:
%timeit apt_price['요일'].apply(pp)

6.65 ms ± 151 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
apt_price2 = apt_price.drop(['번지','본번','부번'],axis=1)
apt_price2.head()

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형,요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-,강남구,개포동,26.4,22.0,2021,9,20평대,3
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.5,2021,12,20평대,5
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대,1
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대,3
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.6,2022,5,20평대,4

In [16]:
apt_price2.drop('전용면적(㎡)',axis=1,inplace=True)

In [17]:
apt_price2.head()

,시군구,단지명,계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형,요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202109,2,220000,2,1987.0,언주로 3,NaN,-,-,강남구,개포동,26.4,22.0,2021,9,20평대,3
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.5,2021,12,20평대,5
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대,1
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.0,2022,4,20평대,3
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.6,2022,5,20평대,4

In [18]:
apt_price.isna().sum() #True -> 1, False -> 0

시군구             0
번지              4
본번              1
부번              1
단지명             0
전용면적(㎡)         0
계약년월            0
계약일             0
거래금액(만원)        0
층               0
건축년도            2
도로명             0
해제사유발생일     16282
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액_억원         0
계약년             0
계약월             0
평형              0
요일              0
dtype: int64

In [19]:
apt_price['단지명'].str.contains('은마').sum()

18

In [20]:
# cond = apt_price['단지명'].str.contains('은마') #포함되어 있는가?
# cond = apt_price['단지명'].str.startswith('은마') # 시작이 해당 문자열로 시작하는가?
# cond = apt_price['단지명'].str.endswith('은마') # 끝이 해당 문자열로 끝나는가?
cond = apt_price['단지명'].str.len()==2 # 길이가 해당 숫자만큼 인가?

apt_price[cond]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형,요일
116,서울특별시 강남구 논현동,216-1,216.0,1.0,두영,84.840,202111,2,73000,4,...,직거래,-,강남구,논현동,28.0,7.30,2021,11,20평대,1
173,서울특별시 강남구 논현동,107-44,107.0,44.0,우민,74.758,202205,19,135000,4,...,중개거래,서울 강남구,강남구,논현동,24.7,13.50,2022,5,20평대,3
174,서울특별시 강남구 논현동,194-22,194.0,22.0,이산,64.230,202112,8,60000,5,...,중개거래,서울 강남구,강남구,논현동,21.2,6.00,2021,12,20평대,2
175,서울특별시 강남구 논현동,194-22,194.0,22.0,이산,46.060,202203,2,31000,3,...,중개거래,서울 강남구,강남구,논현동,15.2,3.10,2022,3,10평대,2
277,서울특별시 강남구 대치동,316,316.0,0.0,은마,84.430,202111,15,282000,5,...,중개거래,서울 강남구,강남구,대치동,27.9,28.20,2021,11,20평대,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16829,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202206,14,71000,9,...,중개거래,서울 중랑구,중랑구,신내동,27.8,7.10,2022,6,20평대,1
16830,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202208,5,70000,15,...,중개거래,서울 중랑구,중랑구,신내동,27.8,7.00,2022,8,20평대,4
16831,서울특별시 중랑구 신내동,783,783.0,0.0,성원,84.320,202208,7,72500,20,...,중개거래,서울 중랑구,중랑구,신내동,27.8,7.25,2022,8,20평대,6
16889,서울특별시 중랑구 신내동,408-2,408.0,2.0,원당,63.000,202203,1,41000,2,...,중개거래,서울 중랑구,중랑구,신내동,20.8,4.10,2022,3,20평대,1
16890,서울특별시 중랑구 신내동,408-2,408.0,2.0,원당,63.000,202203,5,39000,5,...,중개거래,서울 중랑구,중랑구,신내동,20.8,3.90,2022,3,20평대,5

In [21]:
apt_price.isna().sum()

시군구             0
번지              4
본번              1
부번              1
단지명             0
전용면적(㎡)         0
계약년월            0
계약일             0
거래금액(만원)        0
층               0
건축년도            2
도로명             0
해제사유발생일     16282
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액_억원         0
계약년             0
계약월             0
평형              0
요일              0
dtype: int64

In [22]:
# 건축년도가 결측치인 아파트 거래정보 추출
cond = apt_price['건축년도'].isna()
apt_price[cond]
apt_price.loc[cond]
# 건축년도 평균을 배정
평균건축년도 = int(apt_price['건축년도'].mean())
apt_price['건축년도'].fillna(평균건축년도,inplace=True)
apt_price['건축년도'].isna().sum()

0

In [23]:
apt_price['건축년도']=apt_price['건축년도'].astype('int32')

In [24]:
apt_price2

,시군구,단지명,계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액_억원,계약년,계약월,평형,요일
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202109,2,220000,2,1987.0,언주로 3,NaN,-,-,강남구,개포동,26.4,22.00,2021,9,20평대,3
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.50,2021,12,20평대,5
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,2022,4,20평대,1
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,2022,4,20평대,3
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.60,2022,5,20평대,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,서울특별시 중랑구 중화동,한신아파트(103~109),202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,19.7,7.40,2022,7,10평대,2
16943,서울특별시 중랑구 중화동,한신아파트(103~109),202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,27.7,9.15,2022,7,20평대,2
16944,서울특별시 중랑구 중화동,한영(101),202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,28.0,5.00,2021,11,20평대,3
16945,서울특별시 중랑구 중화동,한영(101),202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구,중랑구,중화동,28.0,4.99,2022,4,20평대,5
16946,서울특별시 중랑구 중화동,현대휴앤미(102동),202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중랑구,중화동,25.2,5.30,2022,4,20평대,5

In [26]:
# 평 정보를 평형으로 전환을 apply()사용
apt_price['평'].describe()
def 평형변환(x):
    if x<10:
        return '10평이하'
    if x<20 : 
        return '10평대'
    if x<30 : 
        return '20평대'
    if x<40 : 
        return '30평대'
    if x<50 : 
        return '40평대'
    if x>=50 : 
        return '50평대이상'
apt_price['평'].apply(평형변환)

0        20평대
1        20평대
2        20평대
3        20평대
4        20평대
         ...
16942    10평대
16943    20평대
16944    20평대
16945    20평대
16946    20평대
Name: 평, Length: 16947, dtype: object

In [27]:
import pandas as pd
import seaborn as sns

ti = sns.load_dataset('titanic')
ti

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [28]:
ti['survived'].replace({0:'사망',1:'생존'})

0      사망
1      생존
2      생존
3      생존
4      사망
       ..
886    사망
887    생존
888    사망
889    생존
890    사망
Name: survived, Length: 891, dtype: object

In [29]:
sps = ti.groupby(['sex','pclass'])[['survived']].mean()
sps

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [30]:
# 여성 2등석 생존율 추출
sps.loc[('female',2),:]

survived    0.921053
Name: (female, 2), dtype: float64

In [31]:
sps2 = sps.reset_index()
sps2

      sex  pclass  survived
0  female       1  0.968085
1  female       2  0.921053
2  female       3  0.500000
3    male       1  0.368852
4    male       2  0.157407
5    male       3  0.135447

In [32]:
sps2.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
sps2.loc[[1],:]

      sex  pclass  survived
1  female       2  0.921053

In [34]:
# 구별 평균 거래가
pd.set_option('display.max_rows',30) # 모든 데이터프레임 출력설정 변경
apt_price.groupby(["구",'평형'])[['거래금액_억원']].mean()

             거래금액_억원
구   평형
강남구 10평이하   3.386533
    10평대   10.526982
    20평대   22.939869
    30평대   28.727660
    40평대   33.495596
...              ...
중랑구 10평대    5.636825
    20평대    7.579089
    30평대   10.510000
    40평대   10.523889
    40평이상  20.800000

[150 rows x 1 columns]

In [35]:
# 구별 평균 거래금액
구평형 = apt_price.pivot_table(
    index='구',
    columns ='평형',
    values='거래금액_억원',
    aggfunc=['min','max']
) # default 값은 mean
구평형.columns

MultiIndex([('min', '10평이하'),
            ('min',  '10평대'),
            ('min',  '20평대'),
            ('min',  '30평대'),
            ('min',  '40평대'),
            ('min', '40평이상'),
            ('max', '10평이하'),
            ('max',  '10평대'),
            ('max',  '20평대'),
            ('max',  '30평대'),
            ('max',  '40평대'),
            ('max', '40평이상')],
           names=[None, '평형'])

In [36]:
ti2 = ti

In [37]:
ti3 = pd.concat([ti,ti2],ignore_index=True)
ti3

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1777,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
1778,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
1779,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
1780,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
1781,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [38]:
# 강남3구의 평형별 평균거래가와 그 외 지역 평형별 평균 거래가 비교
cond = apt_price['구'].isin(['강남구','송파구','서초구'])
강남3구 = apt_price[cond]
그외22구 = apt_price[~cond]

강남3구['구'].unique()
그외22구['구'].unique()

array(['강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '성동구', '성북구', '양천구', '영등포구', '용산구',
       '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [39]:
강남3구_평_평균 = 강남3구.pivot_table(index='평형',values='거래금액_억원')
강남3구_평_평균

         거래금액_억원
평형
10평이하   3.868691
10평대   10.448434
20평대   21.872192
30평대   27.289838
40평대   32.071870
40평이상  37.298094

In [40]:
그외22구_평_평균 = 그외22구.pivot_table(index='평형',values='거래금액_억원')
그외22구_평_평균

         거래금액_억원
평형
10평이하   1.973082
10평대    7.380591
20평대   10.093308
30평대   13.449309
40평대   16.489902
40평이상  31.755043

In [41]:
pd.concat([강남3구_평_평균,그외22구_평_평균],axis=1)

         거래금액_억원    거래금액_억원
평형
10평이하   3.868691   1.973082
10평대   10.448434   7.380591
20평대   21.872192  10.093308
30평대   27.289838  13.449309
40평대   32.071870  16.489902
40평이상  37.298094  31.755043

In [42]:
apt_rent = pd.read_csv('apt_rent.csv',encoding='cp949',skiprows=15,thousands=',')
apt_rent
# (50만원 x 12개월) / 4.75%(전월세전환율) = 약 126,315,000원에 기존 보증금 1,000만원을 더합니다.

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,16,60000,0,9,1988.0,언주로 103,202110~202310,-,-,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,20,50400,0,1,1988.0,언주로 103,202201~202401,갱신,사용,48000.0,0.0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202110,20,50400,0,1,1988.0,언주로 103,-,-,-,NaN,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,0,5,1988.0,언주로 103,202208~202212,갱신,-,61500.0,0.0
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,0,5,1988.0,언주로 103,202208~202408,갱신,사용,61500.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218539,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),월세,58.87,202203,19,10000,85,6,2003.0,동일로144길 74,202203~202403,신규,-,0.0,0.0
218540,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,87.31,202111,5,29400,0,6,2003.0,동일로144길 74,202111~202311,갱신,사용,28000.0,0.0
218541,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,56.38,202202,26,23000,0,4,2003.0,동일로144길 74,202203~202403,갱신,-,20000.0,0.0
218542,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),전세,67.57,202208,11,32500,0,3,2003.0,동일로144길 74,-,-,-,NaN,NaN
218543,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),월세,64.48,202109,23,10000,20,4,2007.0,봉화산로27가길 19,202109~202309,-,-,NaN,NaN

In [43]:
apt_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218544 entries, 0 to 218543
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            218544 non-null  object
 1   번지             218357 non-null  object
 2   본번             218529 non-null  float64
 3   부번             218529 non-null  float64
 4   단지명            218544 non-null  object
 5   전월세구분          218544 non-null  object
 6   전용면적(㎡)        218544 non-null  float64
 7   계약년월           218544 non-null  int64
 8   계약일            218544 non-null  int64
 9   보증금(만원)        218544 non-null  int64
 10  월세(만원)         218544 non-null  int64
 11  층              218544 non-null  int64
 12  건축년도           218386 non-null  float64
 13  도로명            218544 non-null  object
 14  계약기간           218544 non-null  object
 15  계약구분           218544 non-null  object
 16  갱신요구권 사용       218544 non-null  object
 17  종전계약 보증금 (만원)  144475 non-null  float64
 18  종전계약 월세 (만원)   144475 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 31.7+ MB

In [44]:
# 강남3구와 그외22구간 평형별 전세금의 평균가를 출력, 가로로 병합
deposit =((apt_rent['월세(만원)']*12)*0.0475 +apt_rent['보증금(만원)'])/10000
apt_rent['전세금_억원'] = round(deposit,2)

In [45]:
# 보증금 및 월세를 전세금으로 전환 후 단위를 억원으로 변환
deposit =((apt_rent['월세(만원)']*12)*0.0475 +apt_rent['보증금(만원)'])/10000
apt_rent['전세금_억원'] = round(deposit,2)
# apt_price['시군구'] 를 시, 구, 동으로 분할
apt_rent['구'] = apt_rent['시군구'].str.split(' ').str[1]
apt_rent['동'] = apt_rent['시군구'].str.split(' ').str[2]
# 전용면적을 평 변환
apt_rent['평'] = round(apt_rent['전용면적(㎡)'] / 3.03,1)
# 계약년월 -> 계약년, 계약월로 분리
apt_rent['계약년'] = apt_rent['계약년월'] // 100
apt_rent['계약월'] = apt_rent['계약년월'] % 100

In [46]:
# 평정보를 이용하여 평형정보 생성
# 10평이하, 10평대, 20평대, 30평대, 40평대, 40평이상
apt_rent['평형']=pd.cut(
    apt_rent['평'],
    bins=[0,10,20,30,40,50,1000],
    labels='10평이하,10평대,20평대,30평대,40평대,40평이상'.split(',')
)

In [47]:
cond = apt_price['구'].isin(['강남구','송파구','서초구'])

In [48]:
# 강남3구와 그외22구간의 평형별 평균 매매가와 평형별 평균 전세금을 가로로 병합 출력하세요.
cond_매매 = apt_price['구'].isin(['강남구','송파구','서초구'])
cond_전세 = apt_rent['구'].isin(['강남구','송파구','서초구'])
강남3구_매매=apt_price[cond_매매].groupby(['구','평형'])[['거래금액_억원']].mean()
그외22구_매매=apt_price[~cond_매매].groupby(['구','평형'])[['거래금액_억원']].mean()
강남3구_전세 = apt_rent[cond_전세].groupby(['구','평형'])[['전세금_억원']].mean()
그외22구_전세 = apt_rent[~cond_전세].groupby(['구','평형'])[['전세금_억원']].mean()

In [49]:
매매종합=pd.concat([강남3구_매매,그외22구_매매])
전세종합=pd.concat([강남3구_전세,그외22구_전세])
pd.concat([매매종합,전세종합],axis=1)

             거래금액_억원     전세금_억원
구   평형
강남구 10평이하   3.386533   1.156973
    10평대   10.526982   3.700732
    20평대   22.939869   6.890297
    30평대   28.727660   9.679524
    40평대   33.495596  11.803383
...              ...        ...
중랑구 10평대    5.636825   1.770823
    20평대    7.579089   3.772137
    30평대   10.510000   4.250118
    40평대   10.523889   5.166818
    40평이상  20.800000   4.966667

[150 rows x 2 columns]

In [50]:
df1 = pd.DataFrame({
    '이름': ['박세리', '이대호', '손흥민', '김연아', '마이클조던'],
    '생년월일': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    '성별': ['여자', '남자', '남자', '여자', '남자']})

df2 = pd.DataFrame({
    '고객명': ['김연아', '박세리', '손흥민', '이대호', '타이거우즈'],
    '연봉': ['2000원', '3000원', '1500원', '2500원', '3500원']})

In [51]:
pd.merge(df1,df2,how='outer')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
pd.merge(df1,df2,left_on='이름',right_on='고객명',how='outer')